/CalculateTotal.class
/GenerateInvoice.class
/InvoiceGenerator.class
/NotificationSender.class
/Order.class
/OrderProcessor.class
/OrderTest.class
/PlaceOrder.class
/SendEmailNotification.class
/TotalCalculator.class
